.about{
    max-width: 900px;
    margin: 0 auto;
    font-size: 22px;
   
}

.heading{
    font-family: "Metal Mania";
    text-align: center;
    /* padding: 20px; */
    font-size: 30px;
    margin-top:70px;
    
}

.inner{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.image{
    float: left;
    margin: 20px 50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
   
}

.para{
    font-size: 17px;
    margin: 20px;
    color: #777;
}

.section{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    text-align: center;
}

.gridimg{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    transition: transform 0.3s ease-in-out;
}

.gridimg:hover{
    /* transform: rotate(180deg); */
    animation: spin 2s infinite linear;
}
@keyframes spin {
    from {
      transform: rotate(0deg); /* Start rotation from 0 degrees */
    }
    to {
      transform: rotate(360deg); /* End rotation at 360 degrees */
    }
  }