.header {
    display: flex;
    padding: 10px;
    font-size: 20px;
    justify-content: space-between;
    list-style-type: none;
    position: fixed;
    top: 0%;
    background: rgb(119, 189, 236);
    width: 100%;
  }

  .headerdiv{
    display: flex; 
    margin-top: 5px;
  }

  .btnn{
    margin-right: 50px;
    display: flex;
    
  }

  .icon {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 0px 30px ;
    text-decoration: none;
    font-size: 23px;
  }

  .icon:hover{
    color:black;
  }
  
  .boxx{
    padding: 40px;
    font-size: 100px;
    text-align:center;
  }

  .comp{
     font-size: 23px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    margin-top: 3px;
   
  }

  .comp:hover{
    color:#060606;
  }

  .logout{
    background-color:  #ef7979;
    /* border-radius: 10px; */
    border-color: #ef7979;
    color: white;
    padding: 4px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .logout:hover{
    color: black;
  }